body{
    margin: 5%;
    background-color:rgb(212, 184, 56)
}
.p1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 150px;
}
.p2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: chartreuse;
}
.p3{
    font-size: medium;
    max-width: 300px;
    text-align: center;
    color: brown;
    padding-top: 3%;
}
h1{
    color: whitesmoke;
}